{{ ansible_managed | comment }}

{% for key, value in openresty_main_template.global_conf.items() | default({}) %}
{{ key }} {{ value }};
{% endfor %}

{% if openresty_main_template.event_conf %}
events {
{% for key, value in openresty_main_template.event_conf.items() | default({}) %}
{{ key }} {{ value }};
{% endfor %}

}
{% endif %}

{% if openresty_main_template.http_conf %}
http {

    {% for key, value in openresty_main_template.http_logging_conf.items() | default({}) %}
    log_format {{ key }} '{{ value }}';
    {% endfor %}

    {% for key, value in openresty_main_template.http_conf.items() | default({}) %}
    {{- key }} {{ value }};
    {% endfor %}

    {% for params_file in openresty_params | default([]) -%}
    {% if params_file.include | default(false) -%}
    include {{ openresty_conf_dir }}/{{ params_file.filename }};
    {% endif -%}
    {% endfor %}

    {% for params_file in openresty_lua_params | default([]) -%}
    {% if params_file.include | default(false) -%}
    include {{ openresty_conf_dir }}/{{ params_file.filename }};
    {% endif -%}
    {% endfor %}

    {% for addtitional_params_file in openresty_addtional_params | default([]) -%}
    {% if addtitional_params_file.include | default(false) -%}
    include {{ openresty_conf_dir }}/{{ addtitional_params_file.filename }};
    {% endif -%}
    {% endfor %}

    include {{ openresty_confd_dir }}/*.conf;
    include {{ openresty_conf_dir }}/sites-enabled/*.conf;
}
{% endif %}
